<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/desktop-1.css" />
    <link rel="stylesheet" type="text/css" href="css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="css/globals.css" />
    <style>
        /* 반응형 스타일 적용 */
        iframe {
            width: 100%;
            height: 90vh;
            border: none;
        }
        /* 중앙 정렬 */
        .container {
            text-align: center;
        }
        </style>
</head>

<body style="margin: 0; background: #f5f6fa">
    <input type="hidden" id="anPageName" name="page" value="desktop-1" />
    <div class="container-center-horizontal">
        <div class="desktop-1 screen">
            <div class="overlap-group16">
                <div class="overlap-group15">
                    <div class="overlap-group10">

                        <div class="navigation-sidebar-1">
                            <div class="overlap-group-1">

                                <!-- 사이드바 시작 -->

								<a href="/main">
									<div class="navigation-sidebar-item-light2">
										<div
											class="products-1 products-8 nunitosans-semi-bold-shark-14px">Home</div>
									</div>
								</a>

									
								<a href="/traffic">
								<div class="navigation-sidebar-item-light3">
									<div
										class="products-2 products-8 nunitosans-semi-bold-shark-14px">Traffic</div>
								</div>
								</a>
								
								<a href="/monthGph">
								<div class="navigation-sidebar-item-light4">
									<div
								
										class="products-3 products-8 nunitosans-semi-bold-shark-14px">Session</div>
								</div>
								</a>
								
								
								<a href="/weekGph">
								<div class="navigation-sidebar-item-light5">
									<div
										class="products-4 products-8 nunitosans-semi-bold-shark-14px">Cpu/주간</div>
								</div>
								</a>
								
								
								<a href="/countryGph">
								<div class="navigation-sidebar-item-light6">
									<div
										class="products-5 products-8 nunitosans-semi-bold-shark-14px">Memories/국가</div>
								</div>
								</a>

								<img class="divider" src="img/divider.svg" alt="Divider" />
								<div class="pages">PAGES</div>

                                <!-- 클래스 수정 -->
                                <a href="/setting">
									<div
										class="navigation-sidebar-item-light-1 navigation-sidebar-item-light-3">

										<div
											class="products-6 products-8 nunitosans-semi-bold-shark-14px">Setting</div>
									</div>
								</a>
                                <!-- 클래스 수정 끝 -->

                            </div>
                            <!-- 사이드바 끝 -->

                            <img class="divider-1 divider-7" src="img/divider.svg" alt="Divider" />
                            <img class="divider-2 divider-7" src="img/divider.svg" alt="Divider" />
                            <img class="group-1000000873" src="img/group-1000000873@2x.png" alt="Group 1000000873" />
                        </div>

                        <div class="navigation-top-bar-light">
                            <div class="overlap-group2">
                                <div class="icon">
                                    <img class="path-1" src="img/base-1@2x.png" alt="Path" />
                                </div>
                                <div class="search-container">
                                    <img class="search" src="img/search@2x.png" alt="search" />
                                    <div class="search-1">Search</div>
                                </div>
                                <div class="overlap-group3">
                                    <div class="overlap-group-3">
                                        <div class="icon-1">
                                            <img class="combined-shape" src="img/combined-shape.svg"
                                                alt="Combined Shape" />
                                            <div class="rectangle-23"></div>
                                        </div>
                                        <img class="oval" src="img/oval-1.svg" alt="Oval" />
                                        <div class="number">6</div>
                                    </div>
                                    <img class="oval-1" src="img/oval.svg" alt="Oval" />
                                </div>
                                <div class="english">
                                    <img class="flag" src="img/flag@2x.png" alt="Flag" />
                                    <div class="language">English</div>
                                    <img class="drop-down" src="img/drop-down@2x.png" alt="Drop Down" />
                                </div>
                                <div class="profile">
                                    <img class="man-438081_960_720" src="img/man-438081-960-720@2x.png"
                                        alt="man-438081_960_720" />
                                    <div class="flex-col">
                                        <div class="jone-aly">Moni Roy</div>
                                        <div class="admin">Admin</div>
                                    </div>
                                    <img class="more" src="img/more@2x.png" alt="More" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="flex-col-1 flex-col-3">
                        <div class="overlap-group-container">

                        </div>

                        <div class="product-card">
                            <div class="overlap-group5">
                                <div class="box-4 box-5">

                                    <!-- 메인 -->
                                    <h1>Kibana 지도 보기</h1>

                                    <!-- 첫 번째 iframe - 지도 보기 -->
                                    <div class="container" style="width: 100%; height: 80vh;">
                                        <iframe
                                            src="http://223.130.139.47:5601/app/dashboards#/view/e7f94b60-97ee-11ef-a7f8-a9f809a5587f?embed=true&_g=(filters%3A!()%2CrefreshInterval%3A(pause%3A!t%2Cvalue%3A0)%2Ctime%3A(from%3Anow-1M%2FM%2Cto%3Anow))&hide-filter-bar=true"
                                            style="width: 100%; height: 100%; border: none;">
                                        </iframe>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>

</html>
