<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Country Graph</title>
</head>
<body>

	<h1 align="center">접속 ip별 국가(위치)</h1>
	
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
		
	<!-- threshold값 표기를 위한 Annotation 플러그인 설치 -->
	<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@latest"></script>
	
	<!-- 도넛 그래프 -->
	<div>
	  <canvas id="dnChart"></canvas>
	</div>
	<script>
		const ctxDn = document.getElementById('dnChart').getContext('2d');
	
		// 데이터
		const dataDn = [123, 89, 66, 42, 21];
	
		new Chart(ctxDn,{
			type: 'doughnut',
			data: {
				labels: ['대한민국', '미국', '중국', '영국', '기타'],
				datasets: [{
					label: '국가',
					data: dataDn,
					backgroundColor: [
						'rgba(103, 153, 255, 1)',
						'rgba(241, 95, 95, 1)',
						'rgba(242, 203, 97, 1)',
						'rgba(165, 102, 255, 1)',
						'rgba(166, 166, 166, 1)',
					],
				}]
			}
		});
	</script>
	
	<form action="/" method="post" align="center">
		<button type="submit">메인으로 돌아가기</button>
	</form>

</body>
</html>