<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="shortcut icon" type="image/png"
		href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
	<meta name="og:type" content="website" />
	<meta name="twitter:card" content="photo" />
	<link rel="stylesheet" type="text/css" href="css/styleguide.css" />
	<link rel="stylesheet" type="text/css" href="css/desktop-1.css" />
	<link rel="stylesheet" type="text/css" href="css/globals.css" />
</head>
<body>
<input type="hidden" id="anPageName" name="page" value="desktop-1" />
	<div class="container-center-horizontal">
		<div class="desktop-1 screen">
			<div class="overlap-group16">
				<div class="overlap-group15">
					<div class="overlap-group10">


						<div class="navigation-sidebar-1">
							<div class="overlap-group-1">


								<!-- 사이드바 시작 -->



								<div class="navigation-sidebar-item-light2">

									<div
										class="products-1 products-8 nunitosans-semi-bold-shark-14px">Home</div>
								</div>


								<div class="navigation-sidebar-item-light3">

									<div
										class="products-2 products-8 nunitosans-semi-bold-shark-14px">Traffic</div>


								</div>
								<div class="navigation-sidebar-item-light4">

									<div
										class="products-3 products-8 nunitosans-semi-bold-shark-14px">Session</div>
								</div>
								<div class="navigation-sidebar-item-light5">

									<div
										class="products-4 products-8 nunitosans-semi-bold-shark-14px">Cpu</div>
								</div>
								<div class="navigation-sidebar-item-light6">

									<div
										class="products-5 products-8 nunitosans-semi-bold-shark-14px">Memories</div>
								</div>

								<img class="divider" src="img/divider.svg" alt="Divider" />
								<div class="pages">PAGES</div>



								<!-- 클래스 수정 -->

								<div
									class="navigation-sidebar-item-light-1 navigation-sidebar-item-light-3">
									<div
										class="products-6 products-8 nunitosans-semi-bold-shark-14px">Setting</div>
								</div>

								<!-- 클래스 수정 -->




							</div>

							<!-- 사이드바 끝 -->



							<img class="divider-1 divider-7" src="img/divider.svg"
								alt="Divider" /> <img class="divider-2 divider-7"
								src="img/divider.svg" alt="Divider" /> <img
								class="group-1000000873" src="img/group-1000000873@2x.png"
								alt="Group 1000000873" />
						</div>
						<div class="navigation-top-bar-light">
							<div class="overlap-group2">
								<div class="icon">

									<img class="path-1" src="img/base-1@2x.png" alt="Path" />
								</div>
								<div class="search-container">
									<img class="search" src="img/search@2x.png" alt="search" />
									<div class="search-1">Search</div>
								</div>
								<div class="overlap-group3">
									<div class="overlap-group-3">

										<div class="icon-1">


											<img class="combined-shape" src="img/combined-shape.svg"
												alt="Combined Shape" />
											<div class="rectangle-23"></div>
										</div>
										<img class="oval" src="img/oval-1.svg" alt="Oval" />
										<div class="number">6</div>
									</div>
									<img class="oval-1" src="img/oval.svg" alt="Oval" />
								</div>
								<div class="english">
									<img class="flag" src="img/flag@2x.png" alt="Flag" />
									<div class="language">English</div>
									<img class="drop-down" src="img/drop-down@2x.png"
										alt="Drop Down" />
								</div>
								<div class="profile">
									<img class="man-438081_960_720"
										src="img/man-438081-960-720@2x.png" alt="man-438081_960_720" />
									<div class="flex-col">
										<div class="jone-aly">Moni Roy</div>
										<div class="admin">Admin</div>
									</div>
									<img class="more" src="img/more@2x.png" alt="More" />
								</div>
							</div>
						</div>
					</div>
					<div class="flex-col-1 flex-col-3">
						<div class="overlap-group-container">
							<div class="overlap-group1">
								<div class="box"></div>
								<img class="divider-3 divider-7" src="img/divider-5.svg"
									alt="Divider" />
								<div class="title-10 nunitosans-bold-blueberry-16px">+ 55%</div>
								<div class="hide-bg"></div>
								<h1 class="title-11 nunitosans-bold-shark-32px">500</h1>
								<div class="search-2 nunitosans-regular-normal-shark-10px">Traffic</div>
								<div class="search-3 nunitosans-regular-normal-shark-8px">than
									last week</div>
								<div class="element-icon-ui-element">
									<div class="overlap-group">
										<img class="shape" src="img/shape-3.svg" alt="Shape" /> <img
											class="path" src="img/path-4.svg" alt="Path" />
									</div>
								</div>
							</div>
							<div class="overlap-group1">
								<div class="box-1 box-5"></div>
								<img class="divider-4 divider-7" src="img/divider-2.svg"
									alt="Divider" />
								<div class="title-12 nunitosans-bold-blueberry-16px">+ 55%</div>
								<div class="hide-bg-1 hide-bg-4"></div>
								<div class="title-13 nunitosans-bold-shark-32px">500</div>
								<div class="search-4 nunitosans-regular-normal-shark-10px">Traffic</div>
								<div class="search-5 nunitosans-regular-normal-shark-8px">than
									last week</div>
								<div class="element-icon-ui-element-1 element-icon-ui-element-4">
									<div class="overlap-group">
										<img class="shape" src="img/shape.svg" alt="Shape" /> <img
											class="path" src="img/path-1.svg" alt="Path" />
									</div>
								</div>
							</div>
							<div class="overlap-group11">
								<div class="box-2 box-5"></div>
								<img class="divider-5 divider-7" src="img/divider-3.svg"
									alt="Divider" />
								<div class="title-14 nunitosans-bold-blueberry-16px">+ 55%</div>
								<div class="hide-bg-2 hide-bg-4"></div>
								<div class="title-15 nunitosans-bold-shark-32px">500</div>
								<div class="search-6 nunitosans-regular-normal-shark-10px">Traffic</div>
								<div class="search-7 nunitosans-regular-normal-shark-8px">than
									last week</div>
								<div class="element-icon-ui-element-2 element-icon-ui-element-4">
									<div class="overlap-group">
										<img class="shape" src="img/shape-1.svg" alt="Shape" /> <img
											class="path" src="img/path-2.svg" alt="Path" />
									</div>
								</div>
							</div>
							<div class="overlap-group13">
								<div class="box-3 box-5"></div>
								<img class="divider-6 divider-7" src="img/divider-4.svg"
									alt="Divider" />
								<div class="title-16 nunitosans-bold-blueberry-16px">+ 55%</div>
								<div class="hide-bg-3 hide-bg-4"></div>
								<div class="title-17 nunitosans-bold-shark-32px">500</div>
								<div class="search-8 nunitosans-regular-normal-shark-10px">Traffic</div>
								<div class="search-9 nunitosans-regular-normal-shark-8px">than
									last week</div>
								<div class="element-icon-ui-element-3 element-icon-ui-element-4">
									<div class="overlap-group">
										<img class="shape" src="img/shape-2.svg" alt="Shape" /> <img
											class="path" src="img/path-3.svg" alt="Path" />
									</div>
								</div>
							</div>
						</div>
						<div class="product-card">
							<div class="overlap-group5">
								<div class="box-4 box-5"></div>


								<div class="details">
									<div class="title-18 nunitosans-bold-shark-18px">시간대별 수치</div>
									<div class="title-19 nunitosans-bold-shark-18px">트래픽 증감
										실시간 그래프</div>
									<div class="title-20 nunitosans-bold-blueberry-16px">Last&nbsp;&nbsp;Campaign
										Performance</div>
									<div class="overlap-group-4">
										<div class="rectangle88"></div>
										<div class="add-to-cart">자세히 보기</div>
									</div>
								</div>

								<!-- 수정한 부분 임 -->
								<div class="overlap-group5">
									<div class="box-4 box-5"></div>

									<!-- Insert the canvas for the bar chart above the image -->
									<div>
										<canvas id="barChart"
											style="position: relative; top: 120px; left: 0; z-index: 10;"
											width="280" height="80"></canvas>
									</div>


								</div>


							</div>
							<div class="flex-row99">
								<div class="flex-col-2 flex-col-3">
									<div class="title-21 nunitosans-bold-shark-18px">October
										2024</div>
									<div class="flex-row-1">
										<div
											class="title-container nunitosans-bold-outrageous-orange-16px">
											<div class="title">S</div>
											<div class="title-22">6</div>
											<div class="title-23">13</div>
											<div class="title-1">20</div>
											<div class="title-1">27</div>
										</div>
										<div class="title-container-1 title-container-7">
											<div class="title-24 nunitosans-bold-trout-16px-2">M</div>
											<div class="title-25 nunitosans-bold-trout-16px">7</div>
											<div class="title-26 nunitosans-bold-trout-16px">14</div>
											<div class="title-2 nunitosans-bold-trout-16px">21</div>
											<div class="title-2 nunitosans-bold-trout-16px">28</div>
										</div>
										<div class="title-container-2 title-container-7">
											<div class="title-3 nunitosans-bold-trout-16px-2">T</div>
											<div class="title-3 nunitosans-bold-trout-16px">1</div>
											<div class="title-3 nunitosans-bold-trout-16px">8</div>
											<div class="title-27 nunitosans-bold-trout-16px" id="oct-15">15</div>
											<!-- id 유지 -->
											<div class="title-4 nunitosans-bold-trout-16px">22</div>
											<div class="title-4 nunitosans-bold-trout-16px">29</div>
										</div>
										<div class="title-container-3 title-container-7">
											<div class="title-28 nunitosans-bold-trout-16px-2">W</div>
											<div class="title-5 nunitosans-bold-trout-16px">2</div>
											<div class="title-5 nunitosans-bold-trout-16px">9</div>
											<div class="title-6 nunitosans-bold-trout-16px">16</div>
											<div class="title-7 nunitosans-bold-trout-16px">23</div>
											<div class="title-7 nunitosans-bold-trout-16px">30</div>
										</div>
										<div class="title-container-4 title-container-7">
											<div class="title-8 nunitosans-bold-trout-16px-2">T</div>
											<div class="title-8 nunitosans-bold-trout-16px">3</div>
											<div class="title-6 nunitosans-bold-trout-16px">10</div>
											<div class="title-6 nunitosans-bold-trout-16px">17</div>
											<div class="title-7 nunitosans-bold-trout-16px">24</div>
											<div class="title-7 nunitosans-bold-trout-16px">31</div>
										</div>
									</div>
								</div>
								<div class="title-container-5 title-container-7">
									<div class="title-8 nunitosans-bold-trout-16px-2">F</div>
									<div class="title-8 nunitosans-bold-trout-16px">4</div>
									<div class="title-6 nunitosans-bold-trout-16px">11</div>
									<div class="title-6 nunitosans-bold-trout-16px">18</div>
									<div class="title-7 nunitosans-bold-trout-16px">25</div>
								</div>
								<div
									class="title-container-6 title-container-7 nunitosans-bold-blueberry-16px">
									<div class="title">S</div>
									<div class="title-29">5</div>
									<div class="title-9">12</div>
									<div class="title-9">19</div>
									<div class="title-30">26</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@latest"></script>

	<script>
      const ctx = document.getElementById('barChart').getContext('2d');

      // Data and threshold
      const dataBar = [5000, 4700, 3800, 4900, 4300, 7200, 3100];
      const thresholdBar = 5000;

      // Generate color array based on threshold
      const bgColorBar = dataBar.map(value => value > thresholdBar ? 'rgba(237, 169, 0, 0.7)' : 'rgba(18, 105, 120, 0.7)');

      // Create bar chart
      new Chart(ctx, {
        type: 'bar',
        data: {
          labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
          datasets: [{
            label: 'Traffic',
            data: dataBar,
            backgroundColor: bgColorBar,
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: false,
              min: 1000,
              max: 7000,
              grid: {
                display: true
              }
            },
            x: {
              grid: {
                display: false
              }
            }
          },
          plugins: {
            annotation: {
              annotations: {
                thresholdLine: {
                  type: 'line',
                  yMin: thresholdBar,
                  yMax: thresholdBar,
                  borderColor: 'rgba(237, 169, 0, 1)',
                  borderWidth: 2,
                  label: {
                    content: 'Threshold',
                    enabled: true,
                    position: 'right'
                  }
                }
              }
            }
          },
          barPercentage: 0.6
        }
      });


    
    document.querySelector('.icon-1').addEventListener('click', function() {
      window.location.href = 'push.html';
    });






    </script>
</body>
</html>