<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Home</title>
</head>
<body>
	<h1 align="center">Main Page</h1>
	
	<form action="graphShow" method="post" align="center">
		<button type="submit" name="gph" value="daily">일별 그래프</button>
		<button type="submit" name="gph" value="weekly">주간 트래픽 및 세션 그래프</button>
		<button type="submit" name="gph" value="monthly">월간 트래픽 및 세션 그래프</button>
		<button type="submit" name="gph" value="country">접속 ip별 국가(위치)</button>
		<button type="submit" name="gph" value="cpu">CPU 그래프</button>
		<button type="submit" name="gph" value="traffic">⭐Traffic 그래프</button>
	</form>
	
	<form action="elasticTest" method="post" align="center">
		<button type="submit" name="elastic" value="test">Elasticsearch Test</button>
	</form>
	
	<form action="map" method="post" align="center">
		<button type="submit" name="map" value="map">지도</button>
	</form>
	
	
</body>
</html>