<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real-time Kibana Map</title>
</head>
<body>
    <h1>Real-time Kibana Map</h1>
    <iframe src="http://223.130.139.47:5601/app/dashboards#/view/f70dd720-9108-11ef-b31e-a3d5599852f9?embed=true&_g=(filters%3A!()%2CrefreshInterval%3A(pause%3A!t%2Cvalue%3A0)%2Ctime%3A(from%3Anow-15w%2Cto%3Anow))&show-time-filter=true" height="600" width="800"></iframe>
</body>
</html>
