<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Traffic Graph</title>
</head>
<body>
	<h1 align="center">트래픽 그래프</h1>

	<!-- jQuery CDN 설치 -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

	<!-- Chart.js 설치 -->
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

	<!-- 날짜 및 시간대 설정 -->
	<div align="center" id="choiceDetail">
		<form action="/api/elastic/all" id="choiceDateForm">
			<input type="datetime-local" id="choiceDate" name="choiceDate">
			<input type="datetime-local" id="choiceDateEnd" name="choiceDateEnd">
			<button type="submit">조회</button>
		</form>
	</div>
	<div align="right" id="playOrstop">
		<button id="tempStop">일시정지</button>
		<button id="play">재생</button>
	</div>

	<!-- main 그래프 -->
	<div align="center">
		<div id="selectedDate" align="left"></div>
		<!-- 날짜 표시 영역 -->
		<canvas id="lineChart" height="100"></canvas>
	</div>





	
	<script>
	function checkTraffic() {
	    // 트래픽이 임계값을 넘을 때만 count 증가
	    if (tfData.length > 0 && thData.length > 0) {
	        $.ajax({
	            url: "/api/incrementCount", // count 증가를 위한 서버의 엔드포인트
	            type: "POST",
	            success: function () {
	                console.log("Count incremented on the server.");

	                // count 증가 후, getDdingdongCount 호출을 위해 별도 AJAX 요청 추가
	                $.ajax({
	                    url: "/api/getDdingdongCount",
	                    type: "GET", // GET 요청으로 변경
	                    success: function (data) {
	                        console.log("Current count value: " + data);
	                    },
	                    error: function () {
	                        console.error("Error fetching count value from the server.");
	                    }
	                });
	            },
	            error: function () {
	                console.error("Error incrementing count on the server.");
	            }
	        });
	    }
	}

	// 트래픽 데이터를 주기적으로 확인하기 위해 1초마다 checkTraffic 함수를 호출
	setInterval(checkTraffic, 1000);
</script>
	

	<form action="/main" method="post" align="center">
		<button type="submit">메인으로 돌아가기</button>
	</form>

</body>
</html>