<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Traffic Graph</title>
</head>
<body>
	<h1 align="center">트래픽 그래프</h1>

	<!-- jQuery CDN 설치 -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

	<!-- Chart.js 설치 -->
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

	<!-- 날짜 및 시간대 설정 -->
	<div align="center" id="choiceDetail">
		<form action="/api/elastic/all" id="choiceDateForm">
			<input type="datetime-local" id="choiceDate" name="choiceDate">
			<input type="datetime-local" id="choiceDateEnd" name="choiceDateEnd">
			<button type="submit">조회</button>
		</form>
	</div>
	<div align="right" id="playOrstop">
		<button id="tempStop">일시정지</button>
		<button id="play">재생</button>
	</div>

	<!-- main 그래프 -->
	<div align="center">
		<div id="selectedDate" align="left"></div>
		<!-- 날짜 표시 영역 -->
		<canvas id="lineChart" height="100"></canvas>
	</div>


	<script>
         $(document).ready(function(){
        	 let lineChartTraffic;
             let dateTraffic = [];      // x축에 들어갈 날짜
             let tfData = [];   // Traffic
             let thData = [];   // Threshold
             let maxYValueTraffic = 0;   // y축 최대값
             const visibleCountTraffic = 8;   // 그래프에서 한 번에 보여줄 데이터 개수
             let startIndexTraffic = 0;         // 그래프 시작 인덱스 0
             let isPausedTraffic = false;
             let count = 0;
             let isFirstLoadTraffic = true; // 첫 로드 여부를 추적하는 변수
             let isRealTimeModeTraffic = true; // 실시간 업데이트 모드 여부
             let updateIntervalTraffic;
             
             // 웹 소켓 연결 설정 : WebSocket 서버의 URL 설정
             const socket = new WebSocket("ws://localhost:8081/traffic");
             
             // 조회 버튼 클릭 시 선택한 날짜를 WebSocket으로 전송
               $('#choiceDateForm').on('submit', function(e) {
                   e.preventDefault();
                   const startDate = $('#choiceDate').val();
                   const endDate = $('#choiceDateEnd').val();
                   
                   const dateRange = {
                       startDate: startDate || null,
                       endDate: endDate || null
                   };
                   
                   if (startDate && endDate) {
                      isRealTimeModeTraffic = false; // 기간 선택 모드
                       socket.send(JSON.stringify(dateRange));
                   }
                   
               });
             
             socket.onopen = function(){
                console.log("WebSocket 연결이 열렸습니다.");
             };
             
             socket.onmessage = function(event){
                // 받은 메시지를 "\n" 기준으로 분리하여 dataTraffic과 dataThresh로 구분
                  const [dataTraffic, dataThresh] = event.data.split('\n');
                  const trafficData = JSON.parse(dataTraffic);
                  const thresholdData = JSON.parse(dataThresh);
                  //console.log("trafficData : ", trafficData);
                  //console.log("thresholdData : ", thresholdData);
             
                // 받은 데이터 처리
                if(!isPausedTraffic && trafficData && thresholdData){
                   // ========== 기간 선택 모드일 경우 기존 데이터 지우고 새로 업데이트
                   if(!isRealTimeModeTraffic){
                      dateTraffic = [];
                      tfData = [];
                      thData = [];
                      trafficData.forEach((item, index) => {
 	                     const timeString = item.key_as_string.split("T")[1];   // 날짜 데이터의 T 문자를 기준으로 두 개의 배열로 나누되, 1번째 배열값 가져오기
 	                     const hour = timeString.substring(0, 2);             // 인덱싱 >> 22:53:00 중 "22"
 	                     const minute = timeString.substring(3, 5);             // 인덱싱 >> 22:53:00 중 "53"
 	                     const formattedTime = `${hour}시 ${minute}분`;
 	                      
 	                     dateTraffic.push(formattedTime);
 	                     tfData.push(item.value);
 	                     thData.push(index < thresholdData.length ? thresholdData[index].value : null);
                      });
                      
                         // 첫 번째 데이터의 월/일을 #selectedDate에 표시
                    if (trafficData.length > 0) {
                      // 날짜 배열의 시작값
                       const startDateString = trafficData[0].key_as_string.split("T")[0];
                       const startMonth = startDateString.substring(5, 7);
                       const startDate = startDateString.substring(8, 10);
                       // 시작 요일 설정
                       const startDay = new Date(startDateString).toLocaleDateString('ko-KR', { weekday: 'short' }); // '월', '화' 등 요일 표시
                       
                       // 날짜 배열의 마지막값
                       const endDateString = trafficData[trafficData.length - 1].key_as_string.split("T")[0];
                       const endMonth = endDateString.substring(5, 7);
                       const endDate = endDateString.substring(8, 10);
                       // 끝 요일 설정
                       const endDay = new Date(endDateString).toLocaleDateString('ko-KR', { weekday: 'short' }); 
                       
                       if(startMonth !== endMonth || startDate !== endDate){
                          $('#selectedDate').text(`${startMonth}월 ${startDate}일 (${startDay}) ~ ${endMonth}월 ${endDate}일 (${endDay})`);
                       }else{
                          $('#selectedDate').text(`${startMonth}월 ${startDate}일 (${startDay})`);
                       }
                    }
                    isRealTimeModeTraffic = true;
                    
                   }else{   // ========== 기간 선택 모드가 아닌 초기 조회 데이터
                      if(isFirstLoadTraffic){
                         trafficData.forEach((item, index) => {
 		                    const timeString = item.key_as_string.split("T")[1];   // 날짜 데이터의 T 문자를 기준으로 두 개의 배열로 나누되, 1번째 배열값 가져오기
 		                    const hour = timeString.substring(0, 2);             // 인덱싱 >> 22:53:00 중 "22"
 		                    const minute = timeString.substring(3, 5);             // 인덱싱 >> 22:53:00 중 "53"
 		                    const formattedTime = `${hour}시 ${minute}분`;
 		                    dateTraffic.push(formattedTime);
 		                    tfData.push(item.value);
 		                    thData.push(index < thresholdData.length ? thresholdData[index].value : null);
                            	console.log("thData : ", thData);
                         });
                         
                           // 첫 번째 데이터의 월/일을 #selectedDate에 표시
                      	 if (trafficData.length > 0) {
                          // 날짜 배열의 시작값
                          const startDateString = trafficData[0].key_as_string.split("T")[0];
                          const startMonth = startDateString.substring(5, 7);
                          const startDate = startDateString.substring(8, 10);
                          // 시작 요일 설정
                          const startDay = new Date(startDateString).toLocaleDateString('ko-KR', { weekday: 'short' }); // '월', '화' 등 요일 표시
                          
                          // 날짜 배열의 마지막값
                          const endDateString = trafficData[trafficData.length - 1].key_as_string.split("T")[0];
                          const endMonth = endDateString.substring(5, 7);
                          const endDate = endDateString.substring(8, 10);
                          // 끝 요일 설정
                          const endDay = new Date(endDateString).toLocaleDateString('ko-KR', { weekday: 'short' }); 
                          
                          if(startMonth !== endMonth || startDate !== endDate){
                             $('#selectedDate').text(`${startMonth}월 ${startDate}일 (${startDay}) ~ ${endMonth}월 ${endDate}일 (${endDay})`);
                          }else{
                             $('#selectedDate').text(`${startMonth}월 ${startDate}일 (${startDay})`);
                          }
                       }
                       isFirstLoadTraffic = false; // 초기 로드 완료
                      }else{
                         // 실시간 모드에서 새 데이터 추가
                         const latestTraffic = trafficData[trafficData.length - 1];
                         const latestThreshold = thresholdData[thresholdData.length - 1];
                         //console.log("latestTraffic : ", latestTraffic);
                         //console.log("latestThreshold : ", latestThreshold);
                         
                         // 실시간 데이터가 존재할 경우 추가
                         if (latestTraffic && latestTraffic.key_as_string) {
                          const timeString = latestTraffic.key_as_string.split("T")[1];   
 	                     const hour = timeString.substring(0, 2);             
 	                     const minute = timeString.substring(3, 5);             
 	                     const formattedTime = `${hour}시 ${minute}분`;
 	                      
                      	 dateTraffic.push(formattedTime);
                          tfData.push(latestTraffic.value);
                          thData.push(latestThreshold ? latestThreshold.value : null);
    
                           // visibleCount 초과 시 이전 데이터 제거
                           if (dateTraffic.length > visibleCountTraffic) {
                              dateTraffic.shift();
                              tfData.shift();
                              thData.shift();
                            }
                         }
                      }
                   }
                }
                   
                updateMaxYValueTraffic();
               
            };
            
            socket.onclose = function(){
               console.log("WebSocket 연결이 닫혔습니다.");
            } 
            
            
            // y축 최대값 업데이트 할 수 있는 함수
            function updateMaxYValue() {
               //maxYValue = 0;   // 그래프를 여러 번 조회할 때 최대값이 누적되지 않도록 값을 초기화
               
             // tfData와 thData가 비어 있을 경우 0을 기본 값으로 사용
             const maxScData = scData.length > 0 ? Math.max(...scData) : 0;
             const maxSthData = sthData.length > 0 ? Math.max(...sthData) : 0;
         
             // tfData와 thData 중 더 큰 값에 1000을 더하고 1000 단위로 올림
             const maxCombinedValue = Math.max(maxScData, maxSthData) + 1000;
             maxYValue = Math.ceil(maxCombinedValue / 1000) * 1000;
             
             updateChart();
         }
            
            
            function updateChart(){
               if(lineChart){
                  lineChart.destroy();
               }
               
               const ctx = document.getElementById('lineChartSession').getContext('2d');
               
               lineChart = new Chart(ctx, {
                  type: 'line',
                  data: {
                     labels: dateSession.slice(startIndex, startIndex + visibleCount),
                     datasets: [
                        {
                           label: 'Session',
                           data: scData.slice(startIndex, startIndex + visibleCount),
                           tension: 0.5,
                           borderColor: 'rgb(0, 204, 0)',
                           borderWidth: 2,
                           pointRadius: 0,
                           fill: {         // 임계값 설정 후 적용할 내용
                              target: 1,
                              above: 'rgba(204, 61, 61, 0.4)',
                              below: 'rgba(255, 255, 255, 0)'
                           }
                        },
                        {
                           label: 'Threshold',
                           data: sthData.slice(startIndex, startIndex + visibleCount),
                           tension: 0.5,
                           borderColor: 'rgb(255, 51, 51)',
                           borderWidth: 2,
                           pointRadius: 0,
                        } 
                     ]
                  },
                  options: {
                     responsive: true,
                     scales: {
                        x: {
                           grid: {
                              display: false
                           }
                        },
                        y: {
                           beginAtZero: true,   // 축이 0부터 시작할지 여부
                           max: maxYValue
                        }
                     },
                     plugins: {
                        tooltip: {   // chart 위에 마우스를 올리면 데이터 포인트와 관련된 정보 표시
                           intersect: false,   // 마우스가 정확히 데이터 포인트 위에 있을 때만 표시될지 여부
                                          // 기본값 : true, false면 포인트 가까이만 있어도 tooltip 표시
                           displayColors: false,   // label의 색상 상자 표시 여부
                           titleFont: {
                              size: 20,
                              family: 'Rethink Sans',
                              weight: 'bold'
                           },
                           bodyFont: {
                              size: 15,
                              family: 'Rethink Sans'
                           },
                           cornerRadius: 10,   // tooltip 둥근 모서리(기본값 : 6)
                           caretSize: 8,      // tooltip이 차트 요소를 가리키는 작은 삼각형
                           callbacks: {
                              title: function(tooltipItems){
                                 return 'Details';
                              },
                              label: function(tooltipItems){
                                 if(tooltipItems.datasetIndex === 0){
                                    return '• Session  :  '+tooltipItems.raw;
                                 }else if(tooltipItems.datasetIndex === 1){
                                    return '• Threshold  :  '+tooltipItems.raw;
                                 }
                              },
                              afterLabel: function(tooltipItems){
                                 const afterLabelInfo = [];
                                 const dataIndex = tooltipItems.dataIndex + startIndex;
                                  
                                 if(dataIndex < dateSession.length){
                                    const formattedDate = dateSession[dataIndex]; // "HH:MM:SS" 형식
                                     afterLabelInfo.push('• Date  :  ' + formattedDate);
                                 }
                                 
                                 return afterLabelInfo;
                              }
                           }
                        }
                     },
                     hover : {
                        mode: 'index',      // 마우스를 올렸을 때 반응하는 차트 요소의 범위
                        intersect: false   // 마우스가 요소와 교차할 때만 호버 효과가 발생할지 여부 설정
                     },
                     animation: {
                        duration: 0
                     }
                  }
               });
            }
            
            //일시정지 버튼 클릭 시 차트 업데이트
            document.getElementById('tempStopSession').addEventListener('click', function(){
               isPaused = true;
               updateInterval = null;
            });
            
            // 재생 버튼 클릭 시 차트 업데이트
            document.getElementById('playSession').addEventListener('click', function() {
                  // 기존 인터벌이 이미 멈춰있다면 재시작
                  if(isPaused){
                  isPaused = false;
                  console.log("그래프가 재생됩니다.");
                  }
              });
            
         });
         
      </script>


	
	<script>
	function checkTraffic() {
	    // 트래픽이 임계값을 넘을 때만 count 증가
	    if (tfData.length > 0 && thData.length > 0) {
	        $.ajax({
	            url: "/api/incrementCount", // count 증가를 위한 서버의 엔드포인트
	            type: "POST",
	            success: function () {
	                console.log("Count incremented on the server.");

	                // count 증가 후, getDdingdongCount 호출을 위해 별도 AJAX 요청 추가
	                $.ajax({
	                    url: "/api/getDdingdongCount",
	                    type: "GET", // GET 요청으로 변경
	                    success: function (data) {
	                        console.log("Current count value: " + data);
	                    },
	                    error: function () {
	                        console.error("Error fetching count value from the server.");
	                    }
	                });
	            },
	            error: function () {
	                console.error("Error incrementing count on the server.");
	            }
	        });
	    }
	}

	// 트래픽 데이터를 주기적으로 확인하기 위해 1초마다 checkTraffic 함수를 호출
	setInterval(checkTraffic, 1000);
</script>
	

	<form action="/main" method="post" align="center">
		<button type="submit">메인으로 돌아가기</button>
	</form>

</body>
</html>