<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Weekly Graph</title>
</head>
<body>
	<h1 align="center">주간 그래프</h1>
	
	<!-- 막대그래프 -->
	<div>
	  <canvas id="barChart"></canvas>
	</div>
	
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
		
	<!-- threshold값 표기를 위한 Annotation 플러그인 설치 -->
	<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@latest"></script>
	
	
	<!-- 막대그래프 그리기 -->
	<script>
	const ctx = document.getElementById('barChart').getContext('2d');

	// 데이터 및 임계값
	const dataBar = [5000, 4700, 3800, 4900, 4300, 7200, 3100];
	const thresholdBar = 5000;

	// 각 데이터 포인트에 대한 색상 배열 생성
	// threshold 초과여부에 따라 색상 설정
	const bgColorBar = dataBar.map(value => value > thresholdBar ? 'rgba(237, 169, 0, 0.7)' : 'rgba(18, 105, 120, 0.7)');
	
	// 막대그래프 생성
	new Chart(ctx, {
	    type: 'bar',
	    data: {
	        labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
	        datasets: [{
	            label: 'Traffic',
	            data: dataBar,
	            backgroundColor: bgColorBar, // 각 바의 배경 색상 설정
	        }]
	    },
	    options: {
	        scales: {
	            y: {
					// y축의 값이 0부터 시작하도록 설정 여부
	                beginAtZero: false,
	                // y축의 최솟값과 최댓값 설정
	                min: 1000,
	                max: 7000,
	                // 눈금선 제거
	                grid: {
						display: true
	                }
	            },
	            x: {
					grid: {
						display: false
					},
	            }
	        },
	        // Threshold 값 설정을 위한 작업
	        plugins: {
	            annotation: {
	                annotations: {
	                    thresholdLine: {
	                        type: 'line',
	                        yMin: thresholdBar, // y축에서 임계값 시작값
	                        yMax: thresholdBar, // y축에서 임계값 종료값
	                        borderColor: 'rgba(237, 169, 0, 1)',
	                        borderWidth: 2,
	                        label: {
	                            content: 'Threshold',
	                            enabled: true,
	                            position: 'right'
	                        }
	                    }
	                }
	            }
	        },
	        barPercentage: 0.6	// 막대 너비를 60%로 조정
	    }
	});
	</script>
	
	<form action="/" method="post" align="center">
		<button type="submit">메인으로 돌아가기</button>
	</form>
	
</body>
</html>