@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:700,600|Inter:500,400,700");
/* The following line is used to measure usage of this code. You can remove it if you want. */
@import url("https://px.animaapp.com/66b1e4fc06fef8fadfdbfb04.66b1e4fd06fef8fadfdbfb07.ud4O8yA.hcp.png");



.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

.products-2 {
  min-width: 41px;
}

.products-3 {
  min-width: 51px;
}

.products-4 {
  min-width: 27px;
}

.products-5 {
  min-width: 65px;
}

.products-6 {
  min-width: 48px;
}

.icon-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2px;
  left: 0;
  min-height: 26px;
  position: absolute;
  top: 5px;
  width: 24px;
}

.rectangle-23 {
  background-color: var(--red);
  border-radius: 2.25px;
  height: 6px;
  margin-left: 0;
  opacity: 0.3;
  width: 6px;
}

.english {
  align-items: center;
  display: flex;
  margin-left: 25px;
  margin-top: 1.0px;
  min-width: 125px;
}

.flag {
  height: 27px;
  width: 40px;
}

.language {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 16px;
  margin-top: 2.0px;
  min-height: 19px;
  min-width: 48px;
}

.drop-down {
  height: 5px;
  margin-bottom: 3.0px;
  margin-left: 11px;
  width: 8px;
}

.profile {
  align-items: center;
  display: flex;
  margin-left: 25px;
  min-width: 173px;
}

.man-438081_960_720 {
  height: 44px;
  width: 44px;
}

.jone-aly {
  letter-spacing: 0;
  line-height: normal;
  min-height: 19px;
}

.admin {
  letter-spacing: 0;
  line-height: normal;
  min-height: 16px;
}

.more {
  height: 18px;
  margin-left: 26px;
  width: 18px;
}

.square-checkbox-solid {
  height: 20px;
  width: 20px;
}

.remember-me {
  height: 19px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.legend {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 4px;
  padding: 4px;
  position: relative;
}

.legend-node {
  height: 16px;
  position: relative;
  width: 16px;
}

.x-label-box {
  align-items: flex-end;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

.car-brands {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.search {
  height: 16px;
  margin-top: 0.55px;
  width: 16px;
}

.search-1 {
  color: var(--shark);
  font-family: var(--font-family-nunito_sans-regular);
  font-size: var(--font-size-xs);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  min-height: 19px;
  min-width: 43px;
  opacity: 0.5;
  text-align: center;
}

.title-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 180px;
  width: 21px;
}

.title-container-1 {
  align-items: center;
  margin-left: 17px;
  min-height: 180px;
  width: 24px;
}

.title-2 {
  letter-spacing: 0;
  line-height: 20px;
  margin-right: 1.0px;
  margin-top: 12px;
  width: 23px;
}

.title-container-2 {
  align-items: flex-start;
  gap: 12px;
  margin-left: 17px;
  min-height: 180px;
  width: 23px;
}

.title-3 {
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 3px;
  width: 18px;
}

.title-4 {
  letter-spacing: 0;
  line-height: 20px;
  width: 22px;
}

.title-container-3 {
  align-items: center;
  gap: 12px;
  margin-left: 12px;
  min-height: 180px;
  width: 22px;
}

.title-5 {
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 1.99px;
  width: 10px;
}

.title-6 {
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 1.0px;
  width: 21px;
}

.title-7 {
  letter-spacing: 0;
  line-height: 20px;
  margin-right: 1.0px;
  width: 21px;
}

.title-container-4 {
  align-items: center;
  gap: 12px;
  margin-left: 16px;
  min-height: 180px;
  width: 22px;
}

.title-8 {
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 0.99px;
  width: 9px;
}

.title-container-5 {
  align-items: center;
  gap: 12px;
  margin-left: 17px;
  margin-top: 5.0px;
  min-height: 148px;
  width: 22px;
}

.title-container-6 {
  align-items: center;
  gap: 12px;
  margin-left: 16px;
  margin-top: 5.0px;
  min-height: 148px;
  width: 21px;
}

.title-9 {
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 1.0px;
  width: 20px;
}

.box {
  background-color: var(--white);
  border-radius: 14px;
  box-shadow: 6px 6px 54px #0000000d;
  height: 133px;
  left: 0;
  position: absolute;
  top: 24px;
  width: 267px;
}

.hide-bg {
  background-color: var(--blueberry);
  border-radius: 6px;
  height: 52px;
  left: 11px;
  position: absolute;
  top: 0;
  width: 52px;
}

.search-2 {
  left: 118px;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.5;
  position: absolute;
  text-align: center;
  top: 48px;
  width: 30px;
}

.search-3 {
  left: 135px;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.5;
  position: absolute;
  text-align: center;
  top: 122px;
  width: 59px;
}

.element-icon-ui-element {
  align-items: flex-start;
  display: flex;
  height: 24px;
  justify-content: flex-end;
  left: 25px;
  min-width: 24px;
  padding: 2.0px 2.0px;
  position: absolute;
  top: 14px;
}

.shape {
  height: 8px;
  left: 12px;
  position: absolute;
  top: 0;
  width: 8px;
}

.hide-bg-1 {
  left: 14px;
}

.search-4 {
  left: 121px;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.5;
  position: absolute;
  text-align: center;
  top: 48px;
  width: 30px;
}

.search-5 {
  left: 138px;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.5;
  position: absolute;
  text-align: center;
  top: 122px;
  width: 59px;
}

.element-icon-ui-element-1 {
  left: 28px;
}

.hide-bg-2 {
  left: 17px;
}

.search-6 {
  left: 124px;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.5;
  position: absolute;
  text-align: center;
  top: 48px;
  width: 30px;
}

.search-7 {
  left: 141px;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.5;
  position: absolute;
  text-align: center;
  top: 122px;
  width: 59px;
}

.element-icon-ui-element-2 {
  left: 31px;
}

.hide-bg-3 {
  left: 15px;
}

.search-8 {
  left: 122px;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.5;
  position: absolute;
  text-align: center;
  top: 48px;
  width: 30px;
}

.search-9 {
  left: 139px;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.5;
  position: absolute;
  text-align: center;
  top: 122px;
  width: 59px;
}

.element-icon-ui-element-3 {
  left: 29px;
}

.element-icon-ui-element-4 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  justify-content: flex-end;
  min-width: 24px;
  padding: 2.0px 2.0px;
  position: absolute;
  top: 14px;
}

.flex-col-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.hide-bg-4 {
  background-color: var(--blueberry);
  border-radius: 6px;
  height: 52px;
  position: absolute;
  top: 0;
  width: 52px;
}

.title-container-7 {
  display: flex;
  flex-direction: column;
}

.iconnavigationarrow_back_ios_24px {
  height: 20px;
  width: 20px;
}

.contine {
  height: 19px;
  letter-spacing: 0;
  line-height: normal;
  min-width: 60px;
  text-align: center;
  white-space: nowrap;
}

.register-account {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-weight: 500;
  height: 19px;
  letter-spacing: 0;
  line-height: normal;
  min-width: 132px;
  text-align: center;
  white-space: nowrap;
}



.span1 {
  color: var(--blue);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-weight: 500;
}