@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

#subtext {
	font-family: 'Pretendard-Regular' !important;
	font-size: 17px;
  	margin: 0 5px;
    letter-spacing: 1px;
}



#selectedDate {
	display: inline-block;
}




#choiceDetail {
    text-align: center;
    margin: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#choiceDateForm {
    display: inline-block;
}

label {
    margin: 0 5px;
    font-weight: bold;
}

#choiceDate, #choiceDateEnd {
    margin: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    padding: 6px 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

#choiceDate, #choiceDateEnd {
    font-family: 'Helvetica-Regular', Helvetica, sans-serif;
    font-size: 14px;
    color: #333;
    margin: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


/* 버튼 조회 */


#playOrstop {
    text-align: right;
    margin: 15px;
}

#playOrstop button {
    padding: 8px 16px;
    margin: 5px;
    font-family: 'Helvetica-Regular', Helvetica, sans-serif;
    font-size: 14px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#playOrstop button:hover {
    background-color: #0056b3;
}

#tempStop {
    background-color: #dc3545; /* 일시정지 버튼 색상 */
}

#tempStop:hover {
    background-color: #a71d2a; /* 일시정지 버튼 호버 색상 */
}

#play {
    background-color: #28a745; /* 재생 버튼 색상 */
}

#play:hover {
    background-color: #1e7e34; /* 재생 버튼 호버 색상 */
}






